DirectoryIndex index.htm index.html index.shtml index.php default.php .index.php

<FilesMatch ".json">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>
