// *************************************
//
//   Filter
//   -> Filter those GIFs
//
// *************************************

.filter
  height: 100%

// -------------------------------------
//   States
// -------------------------------------

// Expanded

.filter.is-expanded

  .filter-list
    display: block

  .filter-toggle
    background: darken($c-text, 10%)

// -------------------------------------
//   Scaffolding
// -------------------------------------

// ----- Item ----- //

.filter-item
  display: inline
  margin-right: $b-space-s

// ----- List ----- //

.filter-list
  @extend .boxSizing
  background: darken($c-text, 5%)
  display: none
  padding: 0.5 * $b-space
  width: 100%

// ----- Link ----- //

.filter-link
  +transition(border-color 0.3s ease-in-out)
  border: $b-border
  border-radius: 40px
  color: $c-highlight
  display: inline-block
  font-size: 80%
  line-height: 2
  margin-bottom: $b-space-s
  margin-top: $b-space-s
  padding: 0 $b-space
  &:hover,
  &:focus
    border-color: $c-highlight

// ----- Toggle ----- //

.filter-toggle
  @extend .boxSizing
  +transition(background 0.3s ease-in-out)
  background: darken($c-text, 5%)
  color: $c-highlight
  display: block
  line-height: 2.7
  padding: 0 (1.5 * $b-space)
  position: absolute
  right: 0
  text-align: center
  top: 0
  width: 20%
  &:hover,
  &:focus
    background: darken($c-text, 10%)

