// *************************************
//
//   Link
//   -> Individual GIF links
//
// *************************************

.link
  +transition(all 0.3s ease-in-out)
  border-bottom: $b-border
  color: $c-text
  display: block
  padding: $b-space-s $b-space-l
  &:hover,
  &:focus
    color: $c-highlight
    padding-left: 4 * $b-space
    outline: none
