// *************************************
//
//   Search
//   -> Search input
//
// *************************************

.search
  background: $c-background-invert
  border: 0
  border-bottom: $b-border
  box-sizing: border-box
  color: $c-text
  font-size: 140%
  height: $search-height
  padding: $b-space-s (1.5 * $b-space)
  width: 80%

  &:focus
    outline: none
