/* Reset */

* {
  margin:0;
  padding:0;
}

/* Base */

body {
  font: 18px 'Roboto', sans-serif;
}

::-webkit-input-placeholder {
  color: #fff;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 600px;
  padding: 10px;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 100;
}

/* Theme */

body {
  background: #6284bc;
}

a, .search {
  border-bottom: 4px solid #334b73;
}

body, a, a:visited {
  color: #334b73;
}

a:hover, a:focus, .search {
  background: #334b73;
}

a:hover, .search {
  color: #fff;
}

img {
  background: #fff;
}

/* Common */

a, .search {
  padding: 5px 40px 8px;
}

/* Links */

a {
  display: block;
  left: 0;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
a:hover,
a:focus {
  padding-left: 75px;
}
a:focus,
.search:focus {
  outline: none;
}

/* Container */

.cell {
  margin: 0 auto;
  position: relative;
}

/* Search */

.search {
  box-sizing: border-box;
  border: 0;
  font: 40px 'Roboto', sans-serif;
  padding-bottom: 15px;
  padding-top: 10px;
  width: 100%;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  body {
    font-size: 30px;
  }
}
