// *************************************
//
//   Card
//   -> Individual style containers
//
// *************************************

.card
  background: $c-highlight
  border-radius: $b-borderRadius
  max-width: 600px
  position: fixed
  padding: $b-space-s
  right: $b-space-s
  top: $b-space-s
  z-index: 100
